body {
  /* background-color: #000; */
}

.box {
  height: 500px;
  width: 300px;
  box-shadow: 5px 5px 20px 5px darkslateblue, -5px -5px 20px 5px dodgerblue, inset 0px 0px 10px 2px darkslategray;
}

p {
  text-shadow: 3px 2px 2px coral;
}

img {
  height: 400px;
  width: 400px;
  filter: drop-shadow(2px 3px 6px green);
}
