.grid-overflow-none {
  grid-auto-rows: 0;
  grid-auto-columns: 0;
  overflow: hidden;
}

.grid-areas-dashboard {
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "global-nav global-nav global-nav"
    "left-sidebar main-view right-sidebar"
    "now-playing now-playing now-playing";
}

#global-nav {
  grid-area: global-nav;
}

#left-sidebar {
  grid-area: left-sidebar;

  @apply w-[200px] rounded-md bg-secondary;
}

#main-view {
  grid-area: main-view;
  @apply rounded-md bg-secondary p-2;
}

#now-playing {
  grid-area: now-playing;
}

#right-sidebar {
  grid-area: right-sidebar;
  @apply rounded-md bg-secondary;
}
