*,
*::after,
*::before {
  box-sizing: border-box;
}
/* intrinsic values - min-content, max-content, fit-content(unit) */
.container {
  display: grid;
  grid-template-columns: 100px fit-content(50px);
  /* column-gap: 8px;
  row-gap: 8px; */
  gap: 8px;
  /* grid-template-rows: max-content; */
}

.item {
  background-color: aqua;
  border: 1px solid;
}

.container-grid {
  margin-top: 16px;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(2, 1fr 2fr) 50px;
}
